$body-bg: #fff;

@import '~bootstrap/scss/bootstrap.scss';

body {
    margin: 20px;
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.menu ul {
    padding: 20px 0;

    li {
        display: inline-block;
        padding: 5px 15px;
        list-style: none;
        margin: 0.5px;
        background: #f2f2f2;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
    }

    li:hover {
        background: #000;
        color: #fff;
    }

    li.active {
        background: #000;
        color: #fff;
    }
}

ul.posts {
    list-style: none;
    padding: 0;

    li {
        margin: 5px 0;

        span {
            display: inline-block;
            width: 240px;
        }
    }
}

.simple-post {
    font-size: 16px;
    display: block;
    width: 100%;
    display: flex;
}

.apop {
    position: fixed;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 9999999;
    display: block;
    opacity: 1;

    .apopbg {
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    .apopcontent {
        width: 300px;
        max-width: 90%;
        height: 100px;
        padding-top: 35px;
        background: #fff;
        font-size: 17px;
        font-weight: 400;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 0;

        input, textarea {
            width: 112px;
            margin-right: 10px;
            padding: 6px 10px;
            font-size: 13px;
            display: inline-block;
        }

        button {
            display: inline-block;
            padding: 6px 15px;
            background: #f2f2f2;
            border: 1px solid #808080;
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: 1px;
            cursor: pointer;
        }
    }
}

.apop.postpop .apopcontent {
    width: 90%;
    max-width: 600px;
    height: auto;
    text-align: left;
    padding: 20px;

    span {
        font-size: 13px;
        display: block;
        text-align: left;
        margin-bottom: 10px;
    }

    input:nth-child(1) {
        width: 70%;
    }

    input:nth-child(2) {
        width: -moz-calc(30% - 10px);
        width: -webkit-calc(30% - 10px);
        width: -o-calc(30% - 10px);
        width: calc(30% - 10px);
        margin-right: 0;
    }

    textarea {
        display: block;
        width: 100%;
        height: 200px;
        margin: 10px 0;
    }

    .result {
        display: block;
        padding-bottom: 10px;
        font-size: 13px;
    }

    .wrong {
        color: red;
    }

    .correct {
        color: green;
    }
}

.blog-list {
    padding-bottom: 30px;

    .status {
        display: block;
        margin-bottom: 10px;
    }
}


@media (max-width: 800px) {

    body {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 1.2rem;
        margin-bottom: 15px;
    }

    .menu {
        ul {
            li {
                display: block;
                width: 100%;
                text-align: center;
                margin: 0.5px 0;
                font-size: 11px;
            }
        }
    }

    .apop .apopcontent {
        width: 240px;
        height: 80px;
        padding-top: 25px;

        input, textarea {
            font-size: 11px !important;
        }

        button, .result, span {
            font-size: 11px !important;
        }
    }

    .postpop .apopcontent {
        input, textarea {
            width: 100% !important;
            margin-right: 0 !important;
            margin: 0 0 10px 0 !important;
        }
    }


    }